.toc-article {
	background: #eee;
	padding: 1em;
}
 
#toc {
	
	font-size: 0.8em;
	@media screen and (max-width: 600px){
		display: none;
	}
}
 
#toc .toc {
	padding: 0
}
 
#toc li , .toc li {
	list-style-type: none
}
 
#toc ol {
	margin: 0;
}
 
#toc .toc-child {
	padding-left: 1.5em
}